@font-face { 
	font-family: Affogato;
	src: url("Affogato-Regular.otf") format("opentype"); 
}
@font-face {
	font-family: Affogato;
	font-weight: bold;
	src: url(Affogato-Medium.otf) format("opentype");
}

body {
	margin: 0;
	font-family: Affogato;
	color: white;
	/*background-image: url("codepic1.png");
	background-size: repeat;*/
	/*text-shadow: 1px 0 0 #272822, 0 -1px 0 #272822, 0 1px 0 #272822, -1px 0 0 #272822;*/
	background-color: #272822;
}

.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: white;
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	background: white;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}


.header {
	background-color: #6699ff;
	padding: 30px 0;
	width: 100%;
	border-bottom: 10px;
	border-color: white;
}

.header2 {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
	margin-top: 10px;
}

.my-content {
	
}

.my-links {
	
}
#github {
	color: white;
	background-color: #b0b7bf;
}
#linkedin {
	color: white;
	background-color: #b0b7bf;
}
#resume {
	color: white;
	background-color: #b0b7bf;
}

.name {
	font-weight: bold;
	margin-top: 0px;
	
}

.box {


}

/* BODY */

.about {
	/*background-color:  #6699ff;*/
	margin-top: 5px;
	border-radius: 10px;
}

.skills {
	margin-top: 5px;
	/*background-color:  #6699ff;*/
	border-radius: 10px;
}
.skills-title {
	font-weight: bold;
	margin-bottom: 0px;
}
.about-skills {
	margin-right: 20px;
	margin-left: 20px;
	/*background-color: #6699ff;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	
}
.about-title {
	font-weight: bold;
}

.about-me {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.clear {
	/*text-shadow: 1px 0 0 #b0b7bf, 0 -1px 0 #b0b7bf, 0 1px 0 #b0b7bf, -1px 0 0 #b0b7bf;*/
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 1px;
	margin-right: 1px;
}

.clear1 {
	border-radius: 10px 10px 0 0;
	/*background-color: #b0b7bf;*/
	text-align: center;
	padding-bottom: 2px;
}
.clear2 {
	border-radius: 0 0 0 0;
	/*background-color: #b0b7bf;*/
	text-align: center;
	padding-bottom: 2px;
}
.clear3 {
	border-radius: 0 0 10px 10px;
	/*background-color: #b0b7bf;*/
	text-align: center;
	padding-bottom: 2px;
}

.labels {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*SECOND ROW*/
.education-courses {
	margin-right: 20px;
	margin-left: 20px;
	background-color: #6699ff;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sbu {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.sccc {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;	
}

.courses {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.school-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.course-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.course-list {
	font-size: 12px;
}

.workxp {
	margin-right: 20px;
	margin-left: 20px;
	/*background-color: #6699ff;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.work {

}

.work-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.axe {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.lisb {
	font-size: 16px;
	/*background-color: #b0b7bf;*/
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
}

.job-name {
	font-weight: bold;
	font-size: 20px;
}

.job-title {

}

.date-job {
	font-weight: normal;
	font-size: 14px;
}

.job-response {

}

.projects {
	margin-right: 20px;
	margin-left: 20px;
	background-color: #6699ff;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.proj {

}

.proj-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.end-bar {
	background-color: #6699ff;
	margin-top: 30px;
	padding:5px 0;
	width: 100%;
}

a {
	color: #aaf8dd;
}